<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SKY Travel</title>
  </head>
  <body>
    <header>
      <img src="/img/cat.jpg" alt="Logo SKY Travel">
    </header>
    {{{body}}}
  </body>
</html>
